.hero-portrait {
  border: 1px solid grey;
  width: 4.5vmax;
}

.hero-portrait__image {
  max-width: 100%;
  object-fit: contain;
}

.hero-portrait:hover {
  border-color: yellow;
}

.hero-portrait--selected {
  animation: popOut 0.5s, colorCycle 0.5s infinite;
  -moz-animation: popOut 0.5s, colorCycle 0.5s infinite ; /* Firefox */
  -webkit-animation: popOut 0.5s, colorCycle 0.5s infinite ; 
  border-color: yellow;
}

.hero-portrait--unselected {
  opacity: 0.4;
  filter: alpha(opacity=40)
}

@keyframes popOut {
  0% {width:4.5vmax;} 
  50% {width:5.5vmax;}
  100% {width:4.5vmax;}
}

@-moz-keyframes popOut /* Firefox */ {
  0% {width:4.5vmax;}
  50% {width:5.5vmax;}
  100% {width:4.5vmax;}
}

@-webkit-keyframes popOut /* Safari and Chrome */ {
  0% {width:4.5vmax;}
  50% {width:5.5vmax;}
  100% {width:4.5vmax;}
}

@keyframes colorCycle {
  0% {box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);}
  50% {box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.4);}
  100% {box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);}
}

@-moz-keyframes colorCycle /* Firefox */ {
  0% {box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);}
  50% {box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.4);}
  100% {box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);}
}

@-webkit-keyframes colorCycle /* Safari and Chrome */ {
  0% {box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);}
  50% {box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.4);}
  100% {box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);}
}