.search-modal {
  margin: auto;
  position: absolute;
  top: 9%; left: 0; bottom: 0; right: 0;
  color: white;
  border: none;
  font-size: 2.3em;
  text-align: center;
  opacity: 1;
  z-index: 1;
}

.hidden {
  z-index: -1;
}

.fading {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  z-index: 1;
}