.search-modal {
  margin: auto;
  position: absolute;
  top: 9%; left: 0; bottom: 0; right: 0;
  color: white;
  margin: auto;
  border: none;
  font-size: 2.3em;
  text-align: center;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  z-index: -1;
}