.sound-button {
  width: 13vmax;
  max-height: 7vmax;
  position: relative;
  color: white;
  background-image: linear-gradient(#00532a, #2c885a);
  text-align: center;
  overflow: hidden;
  line-height: 1.2em;
  margin: 25px;
  border: 1px solid grey;
  padding: 1em .5em;
  border-radius: 4px;
}

.sound-button:hover {
  /* filter: brightness(125%); */
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
}

.sound-button:focus {
  outline: 0;
  box-shadow: none;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.sound-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}